{% unless options contains 'no-footer' %}
{% wrapDom 'footer' %}
<footer #footer layout="columns bottom-center" style="min-height: 200px;">
    {% include 'fragments/vic20-palette.html' %}

    <div self="size-large" layout="row sm-column top-stretch">
        <section layout="column top-left" style="padding:32px">
            <div><strong>{{ app.title }}</strong></div>
            <ul>
                {% assign sections = collections.section | sort: 'data.order' %}
                {% for item in sections %}
                    <li>
                        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div style="margin-top: 24px">
                <div><strong>Links</strong></div>
                <ul>
                    {% for item in links %}
                        <li><a href="{{ item.link | url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div self="size-x1"></div>
        <section layout="column top-left" style="padding:32px">
            <div><strong>Latest posts</strong></div>
            <ul>
                {% assign docs = collections.posts | sort: 'data.pubDate' | reverse %}
                {% for item in docs limit:4 %}
                    <li>
                        <div class="primary" style="font-size: 10px">{{ item.data.pubDate | date }}</div>
                        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div self="size-large" layout="row sm-column center-spread" style="padding: 12px;">

        <div self="right">
            powered by <a href="https://zuixjs.github.io/zkit"><strong>zKit</strong></a> and <a href="https://zuixjs.org"><strong>zuix⚡js</strong></a>
        </div>

    </div>

</footer>
{% endwrapDom %}
{% endunless %}
{% wrapCss 'footer' %}
<style>
    ul {
        margin: 12px 0 0;
        padding: 0;
        font-size: 90%;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        list-style: none;
        vertical-align: middle;
    }
</style>
{% endwrapCss %}
